@model ManitasWeb.Models.Categoria
@{
    ViewData["Title"] = "Categoria";
}
<h1 class="heading"><span>@ViewData["Title"]</span></h1>
<div class="edit-crud">
    <div>
        <h1 class="heading"><span>Crear</span></h1>
        <form class="crud-form" asp-controller="Categoria" asp-action="Create" enctype="multipart/form-data">
            <div>
                <label class="control-label">Nombre :</label>
                <input asp-for="NomCategoria" class="form-control" placeholder="Escriba su nombre" type="text"
                    required />
            </div>
            <div>
                <label class="control-label">Imagen :</label>
            </div>
            <div style="text-align: center;">
                <input type="file" id="real-file" hidden="hidden" asp-for="Imagen" name="upload" required />
                <button type="button" id="custom-button" class="btn">Cargar Imagen</button><br>
                <span id="custom-text">No selecciono ningun archivo.</span>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn" required>Enviar</button>
            </div>
        </form>
    </div>
    <div class="table-crud">
        <table class="list-crud">
            <tr>
                <th>Imagen</th>
                <th>Nombres</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            @foreach (var item in (IEnumerable<Categoria>)ViewData["categorias"])
            {
                <tr>
                    <td>
                        <img src="@Url.ActionLink("MostrarImagenCat","Catalogo",new { id=item.Id })">
                    </td>
                    <td>@item.NomCategoria</td>
                    <td>
                        <a class="btn btn-editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>