@model ManitasWeb.Models.Producto

@{
    ViewData["Title"] = "Crear producto";
}
<h1 class="heading"><span>@ViewData["Title"]</span> </h1>
<div class="crud-form">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Nombre" class="control-label">Nombre</label>
        <input asp-for="Nombre" class="form-control" placeholder="Escriba el nombre del producto" />
        <span asp-validation-for="Nombre" class="text-danger"></span>


        <label asp-for="Descripcion" class="control-label">Descripción</label>
        <textarea asp-for="Descripcion" class="form-control" rows="2"
            placeholder="Escriba la descripción del producto"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>


        <label asp-for="Precio" class="control-label">Precio</label>
        <input asp-for="Precio" class="form-control" placeholder="Escriba el precio del producto" />
        <span asp-validation-for="Precio" class="text-danger"></span>

        <div class="sel">

            <div>
                <label class="control-label">Categoría</label>
                <select name="categori" class="custom-select form-control">
                    @foreach (var item in (IEnumerable<Categoria>)ViewData["categorias"])
                    {
                        <option value="@item.Id">@item.NomCategoria</option>
                    }
                </select>
            </div>

            <div>
                <label class="control-label">Material</label>
                <select name="materia" class="custom-select form-control">
                    @foreach (var item in (IEnumerable<Material>)ViewData["materiales"])
                    {
                        <option value="@item.Id">@item.NomMaterial</option>
                    }
                </select>
            </div>
        </div>


        <div class="img-btns">
            <div>
                <div style="margin-bottom: -2px;">
                    <label asp-for="Imagen" class="control-label">Imagen 1</label>
                </div>
                <input type="file" id="real-file" hidden="hidden" asp-for="Imagen" name="upload"
                    accept="application/jpg" required />
                <button type="button" class="btn btn-prim" id="custom-button">Cargar Imagen</button>
                <span id="custom-text">No selecciono ningun archivo.</span>
            </div>

            <div>
                <div style="margin-bottom: -2px;">
                    <label asp-for="Imagen2" class="control-label">Imagen 2</label>
                </div>
                <input type="file" id="real-file2" hidden="hidden" asp-for="Imagen2" name="upload2"
                    accept="application/jpg" required />
                <button type="button" class="btn btn-prim" id="custom-button2">Cargar Imagen</button>
                <span id="custom-text2">No selecciono ningun archivo.</span>
            </div>

            <div>
                <div style="margin-bottom: -2px;">
                    <label asp-for="Imagen3" class="control-label">Imagen 3</label>
                </div>
                <input type="file" id="real-file3" hidden="hidden" asp-for="Imagen3" name="upload3"
                    accept="application/jpg" required />
                <button type="button" class="btn btn-prim" id="custom-button3">Cargar Imagen</button>
                <span id="custom-text3">No selecciono ningun archivo.</span>
            </div>
        </div>


        <div class="sel">
            <div>
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="Estado" class="custom-select form-control">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
            <div>
                <label asp-for="Home" class="control-label">Inicio</label>
                <select asp-for="Home" class="custom-select form-control">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" value="Crear Producto" class="btn">Crear Producto</button>
        </div>
    </form>
</div>

<div style="text-align: center; margin-bottom:2rem; width:100%">
    <a class="btn" asp-action="Index" style="width:50%">Regresar al catálogo</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
