@model ManitasWeb.Models.Producto

@{
  ViewData["Title"] = "Details";
}

<div class="container-detalles">
  <div class="seccion-titulo titulo-detalles">
    <h5 class="titulo-prim">@Html.DisplayFor(model => model.Nombre)</h5>
  </div>
  <div class="img-detalles">
    <img class="img-producto" src="@Url.ActionLink("MostrarImagen","Producto",new { id=Model.Id })"
      alt="@Html.DisplayFor(model => model.ImagenNom)" />
  </div>
  <div class="info-detalles">
    <p class="nom-producto">Descripción</p>
    <h5 class="precio-producto">@Html.DisplayFor(model => model.Descripcion)</h5>
    <p class="nom-producto">Precio</p>
    <h5 class="precio-producto">@Html.DisplayFor(model => model.Precio)</h5>
    <p class="nom-producto">Categoría</p>
    <h5 class="precio-producto">@Html.DisplayFor(model => model.Categ.NomCategoria)</h5>
    <p class="nom-producto">Material</p>
    <h5 class="precio-producto">@Html.DisplayFor(model => model.Mater.NomMaterial)</h5>
    <p class="nom-producto">Fecha de registro</p>
    <h5 class="precio-producto">@Html.DisplayFor(model => model.Registro)</h5>
    <p class="nom-producto">Estado</p>
    <h5 class="precio-producto">@Html.DisplayFor(model => model.Estado)</h5>
  </div>
  <div class="detalles-btn">
    <a class="btn btn-prim" asp-action="Index">Regresar al catalogo</a>
    <a class="btn btn-editar" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-eliminar" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>

  </div>
</div>
