@model ManitasWeb.Models.Producto

@{
  ViewData["Title"] = "Details";
}

<div class="container-detalles">
  <h1 class="heading titulo-detalles"><span>@Html.DisplayFor(model => model.Nombre)</span> </h1>
  <div class="details-content">
    <div class="img-detalles">
      <div class="swiper-img">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img class="img-producto"
              src="@Url.ActionLink("MostrarImagen","Catalogo",new { id=Model.Id })"
              alt="@Html.DisplayFor(model => model.ImagenNom)" /></div>
          <div class="swiper-slide"><img class="img-producto"
              src="@Url.ActionLink("MostrarImagen2","Catalogo",new { id=Model.Id })"
              alt="@Html.DisplayFor(model => model.ImagenNom)" /></div>
          <div class="swiper-slide"><img class="img-producto"
              src="@Url.ActionLink("MostrarImagen3","Catalogo",new { id=Model.Id })"
              alt="@Html.DisplayFor(model => model.ImagenNom)" /></div>
        </div>
      </div>
    </div>
    <div class="info-detalles">
      <p class="dec-label">Descripción</p>
      <h5 class="desc-product">@Html.DisplayFor(model => model.Descripcion)</h5>
      <p class="dec-label">Precio</p>
      <h5 class="desc-product">@Html.DisplayFor(model => model.Precio)</h5>
      <p class="dec-label">Categoría</p>
      <h5 class="desc-product">@Html.DisplayFor(model => model.Categ.NomCategoria)</h5>
      <p class="dec-label">Material</p>
      <h5 class="desc-product">@Html.DisplayFor(model => model.Mater.NomMaterial)</h5>
      <p class="dec-label">Fecha de registro</p>
      <h5 class="desc-product">@Html.DisplayFor(model => model.Registro)</h5>
      <p class="dec-label">Estado</p>
      <h5 class="desc-product">@Html.DisplayFor(model => model.Estado)</h5>
    </div>
  </div>
</div>
<div class="detalles-btn">
  <a class="btn btn-prim " asp-action="Index">Regresar al catalogo</a>
  <a class="btn btn-editar mt-0" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
  <a class="btn btn-eliminar mt-0" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
</div>
