@model IEnumerable<ManitasWeb.Models.Producto>

@{
    ViewData["Title"] = "Catalogo";
}

<div class="seccion-titulo">
    <h5 class="titulo-prim">@ViewData["Title"]</h5>
</div>
<div class="seccion-titulo">
    <h5 class="titulo-seccion">@ViewData["Message"]</h5>
</div>
<div class="contenedor-catalogo">
    @foreach (var item in Model)
    {
        <div class="producto">
            <img src="@Url.ActionLink("MostrarImagen","Catalogo",new { id=item.Id })" alt="">
            <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
            <div class="precio">S/ @Html.DisplayFor(modelItem => item.Precio)</div>
            <a class="btn btn-editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
            <a class="btn btn-eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            <a class="btn btn-prim form-control" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            <a asp-controller="Producto" asp-action="Edit" asp-route-Id="@item.Id"> editame Estado</a>
        </div>
    }
</div>